# Environment
.env
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Personal / uploaded documents
documents/Rohit_Saini_Hired_Certificate.pdf
documents/Rohit_Saini_Resume.pdf
documents/*.pdf
.firebase/